.infoPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.infoPanelInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 4px;
}